.checkoutPageContainer {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
}

.flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .checkoutPageContainer {
    width: 90%;
  }
  .flex-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
}

button {
  margin-left: auto;
  margin-top: 30px;
}

.checkoutHeaderContainer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;
}

.headerBlockContainer {
  text-transform: capitalize;
  width: 23%;
}

@media screen and (max-width: 800px) {
  .headerBlockContainer {
    width: 22%;
  }
  .headerBlockContainer:last-child {
    width: 12%;
  }
}

.headerBlockContainer:last-child {
  width: 8%;
}

.totalContainer {
  margin-top: 30px;
  margin-left: auto;
  font-size: 36px;
}

warningContainer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: green;
}

.clearButton {
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  flex-basis: content;
  margin-left: 10px;
  padding: 6px 6px;
}

.clearButton:hover {
  background-color: black;
  color: white;
}

.paymentMethods {
  margin-top: 35px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.button {
  height: 30px;
  color: #425e44;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.payButton {
  padding: 10px 5px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: white;
  color: teal;
  font-weight: bold;
}
