.perfume-container {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  justify-content: center;
}

.most-popular {
  text-align: center;
  font-size: 15pt;
  padding-top: 30px;
  color: black;
}

.perfume-cards {
  align-items: center;
}

.divider-line {
  border-bottom: 2px rgb(204, 202, 202) solid;
  margin-top: 1rem;
}

.perfumes-links-container {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-title {
  color: #232427;
}

.perfume-links {
  color: #0d1127;
  font-size: 15pt;
  padding-left: 10px;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 15px;
  white-space: nowrap;
}

.perfume-links:not(:last-child)::after {
  content: " /";
  padding-left: 10px;
}

.perfume-links:hover {
  color: #151420;
}

.product-list-card-container {
  padding-bottom: 16px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  max-width: 125ch;
  width: 100%;
  justify-content: space-around;
  align-self: center;
}

.product-list-card {
  padding-bottom: 26px;
  text-align: center;
  margin-bottom: 22px;
  cursor: pointer;
}
