.header {
  z-index: 100;
  width:100vw;
  background-color: #FBF7F4;
}

.nav-item {
  color: #202024;
  font-size:12pt;
  margin-right: 10px;
  padding-left:8px;
  font-weight: bold;
  text-decoration: none;
}

.MuiIconButton-label {
  color:rgb(29, 28, 31);
}

.nav-container {
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

a:hover {
  color: #151516;
}

.link-block {
 display:flex;
 flex-direction:row;
 justify-content: center;
}

.search-bar{
  margin-top: 5px;
  height: 30px;
}

.title-offset, .icon-block {
  width:156px;
}

.icon-block {
  align-items:flex-end;
  display:flex;
  flex-direction:row;
}

.search-block {
  display:flex;
  
}

.search-block-show{

  flex-grow: .12;
  position: relative;
  width: 16px;
}

.search-container {
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  min-width: fit-content;
  margin-top: 6px;
}

.search-icon { 
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  
}

.title-block {
  flex-grow: 1;
  text-align:center;
  font-size:24pt;
}

.home-title {
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
  margin-left: 15px;
  font-size: 30px;
  font-weight:bold;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 22px;
  height: 22px;
  background-color: rgb(64, 64, 68);
  border: 1px yellow solid;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -4px;
  right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  .home-title {
    font-size: 18px;
    margin-left: 5px;
  }
  .search-block-show{
    flex-grow: .12;
    width: 12px;
  }
  .search-container {
    min-width: min-content;
  }
}

@media screen and (max-width: 375px) {
  .home-title {
    font-size: 14px;
    font-weight: bold;
}
  .account-icon {
    padding-right: 0px !important;
  }
}

.home-title:hover {
  color:rgb(34, 34, 39);
}

.account-icon {
  padding-right: 12px;
}

.MuiOutlinedInput-input {
  padding: 14px 14px !important;
}

.MuiInputLabel-outlined {
  transform: translate(14px, 12px) scale(1) !important;
}

.MuiInputBase-input {
  height: 0.66em !important;
}


